<form [formGroup]="loginForm" (ngSubmit)="userLogin()">
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password">
      <mat-hint>{{error}}</mat-hint>
    </mat-form-field>
  </div>
  <!--event wird mit () erstellt-->
  <button>Senden</button>
</form>