.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {

  display: table-cell;
  width: 490px;
}

.container-100height {
  height: calc(100vh - 64px);
}

.big-Letter {
  font-size: xxx-large;
  font-weight: bold;
  margin-bottom: 50px;
}

.grey-background {
  color: rgb(90, 90, 90);
  background-color: rgb(241, 241, 241);
  margin-top: 8px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}
