<div class="content" fxLayout="row" fxFlex="100" fxFlexFill>
  <div fxFlex="20" class="sec1">
  </div>

  <div fxFlex="60" class="sec2" fxLayoutAlign="space-around center" fxLayout="column">
    <div fxLayoutAlign="space-around center" fxLayout="column" fxFlex="100" [formGroup]="searchForm">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" fxFlex="100" fxLayoutAlign="center" fxLayout="column">
        <div class="" fxLayoutAlign="center">
          <h1 fxLayoutAlign="center">
            Search
          </h1>
        </div>
        <br>
        <div class="example-container">
          <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>PLZ</mat-label>
            <input formControlName="plz" matInput type="number" class="example-right-align">
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Jährliche Strommenge</mat-label>
            <input formControlName="mnt" matInput type="number" class="example-right-align">
            <mat-hint>{{error}}</mat-hint>
          </mat-form-field>
        </div>
        <!--event wird mit () erstellt-->
        <div fxLayoutAlign="space-around center">
          <button mat-raised-button color="primary">Senden</button>
        </div>
      </form>
      <br>
    </div>
  </div>
  <div fxFlex="20" class="sec3">

  </div>
</div>