<div class="content" fxLayout="row" fxFlex="100" fxFlexFill>
  <div fxFlex="33" class="sec1" fxFlex.xs="33">
  </div>

  <div fxFlex="33" class="sec2 container-100height" fxFlex.xs="33" fxLayoutAlign="space-around center">
    <div fxLayoutAlign="space-around center">
      <form [formGroup]="loginForm" (ngSubmit)="userLogin()" fxFlex="100" fxLayoutAlign="space-around"
        fxLayout="column">
        <div class="big-Letter" fxLayoutAlign="space-around center">
          Login
        </div>
        <br>
        <div class="example-container">
          <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
            <mat-hint>{{error}}</mat-hint>
          </mat-form-field>
        </div>
        <!--event wird mit () erstellt-->
        <div fxLayout="row" fxLayoutAlign="space-between center">

          <div fxLayoutAlign="space-between center">
            <button mat-raised-button color="primary">Senden</button>
          </div>
          <div fxLayoutAlign="space-between center">
            <button mat-raised-button [routerLink]="['/registration']">Registration</button>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div fxFlex="33" class="sec3" fxFlex.xs="">

  </div>
</div>