<div class="content" fxLayout="row" fxLayout.xs="column" fxFlex="100" fxFlexFill>
  <div fxFlex="33" class="sec1" fxFlex.xs="33">

  </div>
  <div fxFlex="33" class="sec2" fxFlex.xs="33" [formGroup]="registerForm">
    <div class="Container">
      <p>
        <mat-form-field appearance="standard">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="Placeholder">
          <mat-hint>Please enter your first name</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="Placeholder">
          <mat-hint>Please enter your last name</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput placeholder="Placeholder">
          <mat-hint>Please enter your Username</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>E-Mail</mat-label>
          <input formControlName="email" matInput placeholder="Placeholder">
          <mat-hint>Please enter your e-mail address</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput placeholder="Placeholder">
          <mat-hint>Please enter your password</mat-hint>
        </mat-form-field>
      </p>

      <button mat-flat-button color="primary" (click)="onSubmitRegistration()"
        [disabled]="isSubmitting">Registrieren</button>

    </div>
  </div>
  <div fxFlex="33" class="sec3" fxFlex.xs="">

  </div>
</div>