.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.container-100height{
  height: calc(100vh - 64px);
}

.big-Letter{
  font-size: xxx-large;
  font-weight: bold;
  margin-bottom: 50px;
}